@model dpdrole.Models.Models
@{
    ViewBag.Title = "Loan Calculator";
}

<div class="jumbotron">
    <h1 stLoan Calculatoryle="font-family: Impact, fantasy"><I>Arnold Clark</I></h1>
    <p class="lead">Loan calculator and payment schedule generator.</p>
</div>

<h2>Loan Calculator</h2>
@using (Html.BeginForm("LoanCalculator", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Price)
                </div>
                <div class="col-md-10">
                    £
                    @Html.TextBoxFor(m => m.Price, new { @type = "number", @onchange = "onchangeevent(this);" })
                    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger", @id = "priceMsg" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Deposit)
                </div>
                    <div class="col-md-10">
                        £
                        @Html.TextBoxFor(m => m.Deposit, new { @type = "number", @onchange = "onchangeevent(this);" })
                        @Html.ValidationMessageFor(m => m.Deposit, "", new { @class = "text-danger", @id= "depositMsg" })
                    </div>
                </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.DeliveryDate)
                </div>
                <div class="col-md-10">
                    &nbsp;&nbsp;
                    @Html.TextBoxFor(m => m.DeliveryDate, new { @class = "datefield", @type = "date", @onchange = "onchangeevent(this);" })
                    @Html.ValidationMessageFor(m => m.DeliveryDate, "", new { @class = "text-danger", @id = "deliveryDateMsg" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Years)
                </div>
                <div class="col-md-10">
                    &nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.Years, "1", new { @onclick = "onchangeevent(this);" }) @Html.Label("1") &nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.Years, "2", new { @onclick = "onchangeevent(this);" }) @Html.Label("2") &nbsp;&nbsp;
                    @Html.RadioButtonFor(m => m.Years, "3", new { @onclick = "onchangeevent(this);", @checked = true}) @Html.Label("3")
                    @Html.ValidationMessageFor(m => m.Years, "", new { @class = "text-danger", @id = "yearsMsg" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Arrangement)
                </div><div class="col-md-10">
                    £
                    @Html.TextBoxFor(m => m.Arrangement, new { Value = "88", @type = "number", @onchange = "onchangeevent(this);" })
                    @Html.ValidationMessageFor(m => m.Arrangement, "", new { @class = "text-danger", @id = "arrangementMsg" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Completion)
                </div>
                <div class="col-md-10">
                    £
                    @Html.TextBoxFor(m => m.Completion, new { Value = "20", @type = "number", @onchange = "onchangeevent(this);" })
                    @Html.ValidationMessageFor(m => m.Completion, "", new { @class = "text-danger", @id = "completionMsg" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @*<input type="submit" class="btn btn-default" value="Calculate" />*@
                    <input type="button" class="btn btn-default" value="Calculate" id="btnCalculate" />                    
                </div>
            </div>
        </div>
    </fieldset>
}
    
<div class="row" id="scheduleDetailSection">
    <h2>Payment Schedule </h2>
    <div id="scheduleDetailTable"></div>
</div>


