<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AC Sales & Finance Team</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sales & Finance Team", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year  Anorld-Clark</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function(){
            $("#scheduleDetailSection").fadeOut(0);
        });

        //var selectedCourseName;

//        $("#btnCalculate").click(function () {
//                getScheduleTable();
//                $("#scheduleDetailSection").fadeIn();
//        });

        //Create table to display schedule detail
//        function getScheduleTable() {
//            $("#scheduleDetailTable").empty();
//            $("#scheduleDetailTable").append("<table id='tblschedule'  class='tableStyle'><tr><th class='tableHeader' style='width:60px;'>Employee ID</th><th class='tableHeader'>Faculty Name</th></tr></table>");

            //Get all faculties with the help of model (ViewData["Faculties"]), and convert data into json format.
//            var allFaculties = @Html.Raw(Json.Encode(ViewData["Faculties"]));

//            for (var i = 0; i < allFaculties.length; i++) {
//                var allotedCourses = allFaculties[i].AllotedCourses;
//                for (var j = 0; j < allotedCourses.length; j++) {
//                    if(allotedCourses[j].CourseName === selectedCourseName)
//                        $("#tblfaculty").append("<tr><td class='tableCell'>"  + allFaculties[i].FacultyId
//                            + "</td><td class='tableCell'>"+allFaculties[i].FacultyName+"</td></tr>");
//                }
//            }
//        }

    </script>
</body>
</html>
